[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=Network
Name=Filen
GenericName=Filen
Comment=GUI Filen client
Exec=/opt/Filen/Filen_linux_x86_64.AppImage
Icon=Filen
Keywords=Filen
Terminal=false
StartupNotify=false
Path=
